In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = '../NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')
files10 = glob.glob(file_beg+'2017-2018/*/*.csv')

In [4]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9, files10]

In [5]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [6]:
bmx_indx = [14, 11, 18, 14, 16, 18, 16, 12, 16, 19]

In [7]:
dfs = defaultdict(int)
for i in range(0,len(bmx_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][bmx_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [8]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [9]:
#1999-2018
descr = ['SEQN', 'Weight (kg)', 'Standing Height (cm)', 'Body Mass Index (kg/m**2)', 'Waist Circumference (cm)']
var_names = ['SEQN', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXWAIST']

In [10]:
#To display all columns in Jupyter Notebooks
pd.set_option('display.max_columns', 500)

## Make a copy of the dataframes

In [11]:
#1999-2018
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names].copy() #2001-2002
df2 = dfs[2][var_names].copy() #2003-2004
df3 = dfs[3][var_names].copy() #2005-2006
df4 = dfs[4][var_names].copy() #2007-2008
df5 = dfs[5][var_names].copy() #2009-2010
df6 = dfs[6][var_names].copy() #2011-2012
df7 = dfs[7][var_names].copy() #2013-2014
df8 = dfs[8][var_names].copy() #2015-2016
df9 = dfs[9][var_names].copy() #2017-2018

## Recategorize values

In [12]:
#No recategorizing needed

## Rename columns 1999 - 2016

In [13]:
#No renaming needed

## Append years 1999 - 2018

In [14]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016","2017-2018"]

In [15]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [16]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [17]:
result_1999_2018 = pd.concat(frames, keys = years)

In [18]:
result_1999_2018_cleaned = result_1999_2018.copy()

In [19]:
result_1999_2018_cleaned

                    SEQN  BMXWT  BMXHT  BMXBMI  BMXWAIST       Year
1999-2000 0          1.0   12.5   91.6   14.90      45.7  1999-2000
          1          2.0   75.4  174.0   24.90      98.0  1999-2000
          2          3.0   32.9  136.6   17.63      64.7  1999-2000
          3          4.0   13.3    NaN     NaN       NaN  1999-2000
          4          5.0   92.5  178.3   29.10      99.9  1999-2000
...                  ...    ...    ...     ...       ...        ...
2017-2018 8699  102952.0   49.0  156.5   20.00      82.2  2017-2018
          8700  102953.0   97.4  164.9   35.80     114.8  2017-2018
          8701  102954.0   69.1  162.6   26.10      86.4  2017-2018
          8702  102955.0  111.9  156.6   45.60     113.5  2017-2018
          8703  102956.0  111.5  175.8   36.10     122.0  2017-2018

[96766 rows x 6 columns]

## Count values for each column

In [20]:
col_names = var_names

In [21]:
len(col_names)

5

In [22]:
#BMXWT - Weight (kg)
count_vals(result_1999_2018, col_names[1])

BMXWT
2.4      1
2.6      1
2.7      1
2.8      1
2.9      1
        ..
230.7    1
239.4    1
242.6    1
259.5    1
371.0    1
Name: SEQN, Length: 2077, dtype: int64

 NaN:  1584

In [23]:
#BMXHT - Standing Height (cm)
count_vals(result_1999_2018, col_names[2])

BMXHT
78.3     1
78.5     1
79.0     1
79.1     1
79.7     2
        ..
203.2    1
203.8    1
204.1    1
204.4    1
204.5    1
Name: SEQN, Length: 1220, dtype: int64

 NaN:  8527

In [24]:
#BMXBMI - Body Mass Index (kg/m**2)
count_vals(result_1999_2018, col_names[3])

BMXBMI
7.99      1
11.49     1
11.50     1
11.52     1
11.74     1
         ..
82.90     1
84.40     1
84.87     1
86.20     1
130.21    1
Name: SEQN, Length: 3950, dtype: int64

 NaN:  8967

In [25]:
#BMXWAIST - Waist Circumference (cm)
count_vals(result_1999_2018, col_names[4])

BMXWAIST
32.0     1
37.8     1
38.2     1
38.7     2
38.8     1
        ..
176.0    1
176.7    1
177.9    1
178.2    1
179.0    1
Name: SEQN, Length: 1240, dtype: int64

 NaN:  12067

In [26]:
len(result_1999_2018)

96766

## Remove missing values:

In [27]:
drop_rows(result_1999_2018_cleaned, col_names[1], [np.nan])

In [28]:
drop_rows(result_1999_2018_cleaned, col_names[2], [np.nan])

In [29]:
drop_rows(result_1999_2018_cleaned, col_names[3], [np.nan])

In [30]:
drop_rows(result_1999_2018_cleaned, col_names[4], [np.nan])

## See if missing values have been correctly removed:

In [31]:
#BMXWT - Weight (kg)
count_vals(result_1999_2018_cleaned, col_names[1])

BMXWT
8.9      1
9.1      1
9.4      1
9.5      1
9.6      1
        ..
215.3    1
216.1    1
218.2    1
218.6    1
239.4    1
Name: SEQN, Length: 1930, dtype: int64

 NaN:  0

In [32]:
#BMXHT - Standing Height (cm)
count_vals(result_1999_2018_cleaned, col_names[2])

BMXHT
78.3     1
79.0     1
79.7     1
79.8     1
79.9     1
        ..
203.2    1
203.8    1
204.1    1
204.4    1
204.5    1
Name: SEQN, Length: 1216, dtype: int64

 NaN:  0

In [33]:
#BMXBMI - Body Mass Index (kg/m**2)
count_vals(result_1999_2018, col_names[3])

BMXBMI
7.99      1
11.49     1
11.50     1
11.52     1
11.74     1
         ..
82.90     1
84.40     1
84.87     1
86.20     1
130.21    1
Name: SEQN, Length: 3950, dtype: int64

 NaN:  8967

In [34]:
#BMXWAIST - Waist Circumference (cm)
count_vals(result_1999_2018_cleaned, col_names[4])

BMXWAIST
32.0     1
37.8     1
38.2     1
38.7     1
38.8     1
        ..
176.0    1
176.7    1
177.9    1
178.2    1
179.0    1
Name: SEQN, Length: 1239, dtype: int64

 NaN:  0

In [35]:
before = len(result_1999_2018)
before

96766

In [36]:
after = len(result_1999_2018_cleaned)
after

84328

In [37]:
(before-after)/after

0.1474954937861683

## MongoDB Insertion

In [38]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient("localhost", 27017)

In [39]:
#Connect to existing database
db = client.NHANES
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [40]:
db.list_collection_names()

['bmx',
 'alq',
 'smqfam',
 'smq',
 'bpq',
 'diq',
 'whq',
 'hiq',
 'demo',
 'huq',
 'bpx',
 'drxtot',
 'mcq_h',
 'tchol',
 'paq',
 'descr',
 'demo_p',
 'mcq_a',
 'mcq_b',
 'rdq',
 'mcq_c']

In [41]:
#Creating a collection
bmx = db.bmx

In [42]:
#If collections exist, then drop
if 'bmx' in db.list_collection_names():
    bmx.drop()
    db.list_collection_names()

## Create new collection to input into database

In [43]:
result_1999_2018_cleaned[:3]

             SEQN  BMXWT  BMXHT  BMXBMI  BMXWAIST       Year
1999-2000 0   1.0   12.5   91.6   14.90      45.7  1999-2000
          1   2.0   75.4  174.0   24.90      98.0  1999-2000
          2   3.0   32.9  136.6   17.63      64.7  1999-2000

In [44]:
#Set SEQN as _id (Primary Key)
result_1999_2018_cleaned.rename(columns= {'SEQN':'_id'}, inplace=True)

In [45]:
#Dataframe to dictionary
bmx_dict = result_1999_2018_cleaned.to_dict(orient='records')

In [46]:
bmx_dict[0]

{'_id': 1.0,
 'BMXWT': 12.5,
 'BMXHT': 91.6,
 'BMXBMI': 14.9,
 'BMXWAIST': 45.7,
 'Year': '1999-2000'}

In [47]:
#Insert collection
bmx.insert_many(bmx_dict)

In [48]:
db.list_collection_names()

['alq',
 'smqfam',
 'smq',
 'bpq',
 'diq',
 'whq',
 'hiq',
 'demo',
 'huq',
 'bpx',
 'bmx',
 'drxtot',
 'mcq_h',
 'tchol',
 'paq',
 'descr',
 'demo_p',
 'mcq_a',
 'mcq_b',
 'rdq',
 'mcq_c']