In [135]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [136]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = '../NHANES-Downloader/data/csv_data/'

In [137]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')
files10 = glob.glob(file_beg+'2017-2018/*/*.csv')

In [138]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9, files10]

In [139]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [140]:
bpx_indx = [15, 12, 19, 15, 17, 19, 17, 13, 17, 21]

In [141]:
dfs = defaultdict(int)
for i in range(0,len(bpx_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][bpx_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [142]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [143]:
#1999-2016
descr = ['SEQN', 'Pulse regular or irregular?', 'Systolic', 'Diastolic']
var_names = ['SEQN', 'BPXPULS', 'BPXSY1', 'BPXDI1']

In [144]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Make a copy of the dataframes

In [145]:
#1999-2018
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names].copy() #2001-2002
df2 = dfs[2][var_names].copy() #2003-2004
df3 = dfs[3][var_names].copy() #2005-2006
df4 = dfs[4][var_names].copy() #2007-2008
df5 = dfs[5][var_names].copy() #2009-2010
df6 = dfs[6][var_names].copy() #2011-2012
df7 = dfs[7][var_names].copy() #2013-2014
df8 = dfs[8][var_names].copy() #2015-2016
df9 = dfs[9][var_names].copy() #2017-2018

## Recategorize values

In [146]:
#No recategorizing needed

## Rename columns 1999 - 2018

In [147]:
#No renaming needed

## Append years 1999 - 2018

In [148]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016","2017-2018"]

In [149]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [150]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [151]:
result_1999_2018 = pd.concat(frames, keys = years)

In [152]:
result_1999_2018_cleaned = result_1999_2018.copy()

In [153]:
result_1999_2018_cleaned

                    SEQN  BPXPULS  BPXSY1  BPXDI1       Year
1999-2000 0          1.0      1.0     NaN     NaN  1999-2000
          1          2.0      1.0   106.0    58.0  1999-2000
          2          3.0      1.0   110.0    60.0  1999-2000
          3          4.0      1.0     NaN     NaN  1999-2000
          4          5.0      1.0   122.0    82.0  1999-2000
...                  ...      ...     ...     ...        ...
2017-2018 8699  102952.0      1.0   136.0    74.0  2017-2018
          8700  102953.0      1.0   124.0    76.0  2017-2018
          8701  102954.0      1.0   116.0    66.0  2017-2018
          8702  102955.0      1.0   114.0    62.0  2017-2018
          8703  102956.0      1.0   150.0    98.0  2017-2018

[96766 rows x 5 columns]

## Count values for each column

In [154]:
col_names = var_names

In [155]:
len(col_names)

4

In [156]:
#BPXPULS - Pulse regular or irregular?
count_vals(result_1999_2018, col_names[1])

BPXPULS
1.0    91175
2.0     2093
Name: SEQN, dtype: int64

 NaN:  3498

In [157]:
#BPXSY1 - Systolic: Blood pres (1st rdg) mm Hg
count_vals(result_1999_2018, col_names[2])

BPXSY1
66.0      1
72.0      5
74.0      8
76.0     10
78.0     23
         ..
242.0     1
248.0     1
256.0     1
266.0     1
270.0     1
Name: SEQN, Length: 91, dtype: int64

 NaN:  28190

In [158]:
#BPXDI1 - Diastolic: Blood pres (1st rdg) mm Hg
count_vals(result_1999_2018, col_names[3])

BPXDI1
5.397605e-79    741
2.000000e+00      3
4.000000e+00      5
6.000000e+00      3
8.000000e+00      2
               ...
1.240000e+02      3
1.280000e+02      1
1.320000e+02      1
1.340000e+02      2
1.360000e+02      1
Name: SEQN, Length: 67, dtype: int64

 NaN:  28190

In [159]:
len(result_1999_2018)

96766

## Remove missing values:

In [160]:
drop_rows(result_1999_2018_cleaned, col_names[1], [np.nan])

In [161]:
drop_rows(result_1999_2018_cleaned, col_names[2], [np.nan])

In [162]:
drop_rows(result_1999_2018_cleaned, col_names[3], [np.nan])

## See if missing values have been correctly removed:

In [163]:
#BPXPULS - Pulse regular or irregular?
count_vals(result_1999_2018_cleaned, col_names[1])

BPXPULS
1.0    66896
2.0     1679
Name: SEQN, dtype: int64

 NaN:  0

In [164]:
#BPXSY1 - Systolic: Blood pres (1st rdg) mm Hg
count_vals(result_1999_2018_cleaned, col_names[2])

BPXSY1
66.0      1
72.0      5
74.0      8
76.0     10
78.0     23
         ..
242.0     1
248.0     1
256.0     1
266.0     1
270.0     1
Name: SEQN, Length: 91, dtype: int64

 NaN:  0

In [165]:
#BPXDI1 - Diastolic: Blood pres (1st rdg) mm Hg
count_vals(result_1999_2018_cleaned, col_names[3])

BPXDI1
5.397605e-79    741
2.000000e+00      3
4.000000e+00      5
6.000000e+00      3
8.000000e+00      2
               ...
1.240000e+02      3
1.280000e+02      1
1.320000e+02      1
1.340000e+02      2
1.360000e+02      1
Name: SEQN, Length: 67, dtype: int64

 NaN:  0

In [166]:
before = len(result_1999_2018)
before

96766

In [167]:
after = len(result_1999_2018_cleaned)
after

68575

In [168]:
(before-after)/after

0.4110973386802771

## MongoDB Insertion

In [169]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient("localhost", 27017)

In [170]:
#Connect to existing database
db = client.NHANES
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [171]:
db.list_collection_names()

['alq', 'bpq', 'bmx', 'bpx']

In [172]:
#Creating a collection
bpx = db.bpx

In [173]:
#If collections exist, then drop
if 'bpx' in db.list_collection_names():
    bpx.drop()
    db.list_collection_names()

## Create new collection to input into database

In [174]:
result_1999_2018_cleaned[:3]

             SEQN  BPXPULS  BPXSY1  BPXDI1       Year
1999-2000 1   2.0      1.0   106.0    58.0  1999-2000
          2   3.0      1.0   110.0    60.0  1999-2000
          4   5.0      1.0   122.0    82.0  1999-2000

In [175]:
#Set SEQN as _id (Primary Key)
result_1999_2018_cleaned.rename(columns= {'SEQN':'_id'}, inplace=True)

In [176]:
#Dataframe to dictionary
bpx_dict = result_1999_2018_cleaned.to_dict(orient='records')

In [177]:
bpx_dict[0]

{'_id': 2.0,
 'BPXPULS': 1.0,
 'BPXSY1': 106.0,
 'BPXDI1': 58.0,
 'Year': '1999-2000'}

In [178]:
#Insert collection
bpx.insert_many(bpx_dict)

In [179]:
db.list_collection_names()

['alq', 'bpq', 'bmx', 'bpx']