In [158]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [159]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = '../NHANES-Downloader/data/csv_data/'

In [160]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')
files10 = glob.glob(file_beg+'2017-2018/*/*.csv')

In [161]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9, files10]

In [162]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [163]:
#Index of all the files in dictionary from 1999 - 2018
huq_indx = [78, 95, 108, 104, 105, 113, 117, 146, 113, 132]

In [164]:
dfs = defaultdict(int)
for i in range(0,len(huq_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][huq_indx[i]])

In [165]:
#Default column names
col_names = ["SEQN", "HUQ010", "HUQ020", "HUQ030", "HUQ040", "HUQ050", "HUQ070", "HUQ090"]
descr = ['SEQN', 'Covered by health insurance']

In [166]:
#Column names for 2013-2018
col_names1 = ["SEQN", "HUQ010", "HUQ020", "HUQ030", "HUQ041", "HUQ051", "HUQ071", "HUQ090"]

## Round HUQ050 & HUQ051

In [167]:
#1999-2000
dfs[0][['HUQ050']] = dfs[0][['HUQ050']].round(0)

#2001-2002
dfs[1][['HUQ050']] = dfs[1][['HUQ050']].round(0)

#2003-2004
dfs[2][['HUQ050']] = dfs[2][['HUQ050']].round(0)

#2005-2006
dfs[3][['HUQ050']] = dfs[3][['HUQ050']].round(0)

#2007-2008
dfs[4][['HUQ050']] = dfs[4][['HUQ050']].round(0)

#2009-2010
dfs[5][['HUQ050']] = dfs[5][['HUQ050']].round(0)

#2011-2012
dfs[6][['HUQ050']] = dfs[6][['HUQ050']].round(0)

#Round the column HUQ051
#2013-2014
dfs[7][['HUQ051']] = dfs[7][['HUQ051']].round(0)

#2015-2016
dfs[8][['HUQ051']] = dfs[8][['HUQ051']].round(0)

## Rename HUD070, HUQ071

In [168]:
#Rename HUD070 to HUQ070
#2001-2002
dfs[1].rename(columns={'HUD070':'HUQ070'}, inplace=True)


#Rename HUQ071 to HUQ070
#2003-2004
dfs[2].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

#2005-2006
dfs[3].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

#2007-2008
dfs[4].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

#2009-2010
dfs[5].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

#2011-2012
dfs[6].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

## Make copy of all the dataframes

In [169]:
df0 = dfs[0][col_names].copy()
df1 = dfs[1][col_names].copy()
df2 = dfs[2][col_names].copy()
df3 = dfs[3][col_names].copy()
df4 = dfs[4][col_names].copy()
df5 = dfs[5][col_names].copy()
df6 = dfs[6][col_names].copy()
df7 = dfs[7][col_names1].copy()
df8 = dfs[8][col_names1].copy()
df9 = dfs[9][col_names1].copy()

## Functions: Recategorize values, Count Values, Drop Rows

In [170]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Recategorize 2013 - 2018 Info

In [171]:
#Recategorize HUQ041
#Refused 77 to 7. Recategorize Don't Know 99 to 9.
recategorize(df7, 'HUQ041', {77:7, 99:9}) #2013-2014
recategorize(df8, 'HUQ041', {77:7, 99:9}) #2015-2016
recategorize(df9, 'HUQ041', {77:7, 99:9}) #2017-2018

# #Drop indexes in HUQ041 with 6 to match HUQ040
# drop_rows(df7, 'HUQ041', [6])
# drop_rows(df8, 'HUQ041', [6])

#Recategorize HUQ51 additional categories to HUQ050
recategorize(df7, 'HUQ051', {4:3, 5:3, 6:4, 7:5, 8:5}) #2013-2014
recategorize(df8, 'HUQ051', {4:3, 5:3, 6:4, 7:5, 8:5}) #2015-2016

## Rename 2013 - 2016 columns

In [172]:
df7.columns = col_names #2013-2014
df8.columns = col_names #2015-2016
df9.columns = col_names #2017-2018

## Append years 1999 - 2018

In [173]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008",
           "2009-2010","2011-2012","2013-2014","2015-2016","2017-2018"]

In [174]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [175]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [176]:
result_1999_2018 = pd.concat(frames, keys = years)

In [177]:
result_1999_2018_cleaned = result_1999_2018.copy()

## Count values for each column

In [178]:
col_names

['SEQN', 'HUQ010', 'HUQ020', 'HUQ030', 'HUQ040', 'HUQ050', 'HUQ070', 'HUQ090']

In [179]:
#HUQ010
count_vals(result_1999_2018, col_names[1])

drop_rows(result_1999_2018_cleaned, 'HUQ010', [np.nan, 7, 9])

HUQ010
1.0    28539
2.0    26205
3.0    30243
4.0    13333
5.0     2942
7.0       18
9.0       31
Name: SEQN, dtype: int64

 NaN:  5

In [180]:
#HUQ020
count_vals(result_1999_2018, col_names[2])

HUQ020
1.0    18310
2.0     7611
3.0    70847
7.0        5
9.0       30
Name: SEQN, dtype: int64

 NaN:  4513

In [181]:
#HUQ030
count_vals(result_1999_2018, col_names[3])

HUQ030
1.0    88180
2.0    12598
3.0      524
7.0        1
9.0        8
Name: SEQN, dtype: int64

 NaN:  5

In [182]:
#HUQ040
count_vals(result_1999_2018, col_names[4])

HUQ040
1.0    23006
2.0    60698
3.0     2331
4.0     1666
5.0      903
6.0       75
7.0        3
9.0       22
Name: SEQN, dtype: int64

 NaN:  12612

In [183]:
#HUQ050
count_vals(result_1999_2018, col_names[5])

HUQ050
0.000000e+00    12888
5.397605e-79     1276
1.000000e+00    20725
2.000000e+00    30618
3.000000e+00    23886
4.000000e+00     5668
5.000000e+00     5311
6.000000e+00      396
7.000000e+00      128
8.000000e+00      278
7.700000e+01        5
9.900000e+01      132
Name: SEQN, dtype: int64

 NaN:  5

In [184]:
#HUQ070
count_vals(result_1999_2018, col_names[6])

HUQ070
1.0     9731
2.0    91543
7.0        3
9.0       34
Name: SEQN, dtype: int64

 NaN:  5

In [185]:
#HUQ090
count_vals(result_1999_2018, col_names[7])

HUQ090
1.0     6998
2.0    81682
7.0       11
9.0       41
Name: SEQN, dtype: int64

 NaN:  12584

In [186]:
#
len(result_1999_2018)

101316

## Remove:  
### Values:  
77 or 7: Refused  
99 or 9: Don't know  
NaN: No input  
### Columns:  
'HUQ040' and 'HUQ090' because too many missing values

In [187]:
# Drop 6 for HUQ040
# drop_rows(df7, 'HUQ041', [6])
# drop_rows(df8, 'HUQ041', [6])

#Remove column HUQ040 & HUQ090 - too many missing values
result_1999_2018_cleaned.drop(['HUQ040', 'HUQ090'], inplace=True, axis=1)

#
drop_rows(result_1999_2018_cleaned, 'HUQ010', [np.nan, 7, 9])
drop_rows(result_1999_2018_cleaned, 'HUQ020', [np.nan, 7, 9])
drop_rows(result_1999_2018_cleaned, 'HUQ030', [np.nan, 7, 9])
drop_rows(result_1999_2018_cleaned, 'HUQ050', [np.nan, 77, 99])
drop_rows(result_1999_2018_cleaned, 'HUQ070', [np.nan, 7, 9])

In [188]:
count_vals(result_1999_2018_cleaned, col_names[1])

HUQ010
1.0    25522
2.0    25343
3.0    29579
4.0    13194
5.0     2927
Name: SEQN, dtype: int64

 NaN:  0

In [189]:
count_vals(result_1999_2018_cleaned, col_names[2])

HUQ020
1.0    18258
2.0     7598
3.0    70709
Name: SEQN, dtype: int64

 NaN:  0

In [190]:
count_vals(result_1999_2018_cleaned, col_names[3])

HUQ030
1.0    83607
2.0    12442
3.0      516
Name: SEQN, dtype: int64

 NaN:  0

In [191]:
count_vals(result_1999_2018_cleaned, col_names[5])

HUQ050
0.000000e+00    12735
5.397605e-79     1263
1.000000e+00    20333
2.000000e+00    29236
3.000000e+00    21821
4.000000e+00     5298
5.000000e+00     5113
6.000000e+00      376
7.000000e+00      123
8.000000e+00      267
Name: SEQN, dtype: int64

 NaN:  0

In [192]:
count_vals(result_1999_2018_cleaned, col_names[6])

HUQ070
1.0     8920
2.0    87645
Name: SEQN, dtype: int64

 NaN:  0

In [193]:
before = len(result_1999_2018)
after = len(result_1999_2018_cleaned)
after/before

0.9531071104267835

In [194]:
after

96565

## MongoDB Insertion

In [195]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient('localhost', 27017)

In [196]:
#Connect to existing datbase
db = client.NHANES

In [197]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [198]:
db.list_collection_names()

['hiq', 'alq', 'drxtot', 'bpq', 'bmx', 'bpx', 'demo_p', 'demo', 'diq', 'huq']

In [199]:
#Create collection in database
huq = db.huq

In [200]:
#If collections exist, then drop
if 'huq' in db.list_collection_names():
    huq.drop()
    db.list_collection_names()
else:
    print("Doesn't exist yet")

## Create new collection to input into database

In [201]:
result_1999_2018_cleaned[:3]

             SEQN  HUQ010  HUQ020  HUQ030  HUQ050  HUQ070       Year
1999-2000 0   1.0     1.0     3.0     1.0     3.0     1.0  1999-2000
          1   2.0     2.0     2.0     1.0     3.0     1.0  1999-2000
          2   3.0     1.0     1.0     1.0     1.0     2.0  1999-2000

In [202]:
#Set SEQN as _id (Primary Key)
result_1999_2018_cleaned.rename(columns={'SEQN':'_id'}, inplace=True)

In [203]:
#Dataframe to dictionary
huq_dict = result_1999_2018_cleaned.to_dict(orient='records')

In [204]:
huq_dict[0]

{'_id': 1.0,
 'HUQ010': 1.0,
 'HUQ020': 3.0,
 'HUQ030': 1.0,
 'HUQ050': 3.0,
 'HUQ070': 1.0,
 'Year': '1999-2000'}

In [205]:
#Insert collection 
huq.insert_many(huq_dict)

In [206]:
#View collections
db.list_collection_names()

['hiq', 'alq', 'drxtot', 'bpq', 'bmx', 'huq', 'bpx', 'demo_p', 'demo', 'diq']

In [207]:
#db.huq.count() #87707

In [208]:
# for h in huq.find():
#     print(h)