In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = '../NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')
files10 = glob.glob(file_beg+'2017-2018/*/*.csv')

In [4]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9, files10]

In [5]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [6]:
paq_indx = [86, 104, 117, 113, 114, 121, 124, 154, 120, 141]

In [7]:
dfs = defaultdict(int)
for i in range(0,len(paq_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][paq_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [8]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [9]:
#1999-2006
var_names = ["SEQN", "PAD020", "PAD200", "PAD320"]

#2007-2018
var_names1 = ["SEQN", "PAQ635", "PAQ650", "PAQ665"]

In [10]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Make a copy of the dataframes

In [11]:
#1999-2018
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names].copy() #2001-2002
df2 = dfs[2][var_names].copy() #2003-2004
df3 = dfs[3][var_names].copy() #2005-2006
df4 = dfs[4][var_names1].copy() #2007-2008
df5 = dfs[5][var_names1].copy() #2009-2010
df6 = dfs[6][var_names1].copy() #2011-2012
df7 = dfs[7][var_names1].copy() #2013-2014
df8 = dfs[8][var_names1].copy() #2015-2016
df9 = dfs[9][var_names1].copy() #2017-2018

## Recategorize values

In [12]:
#1999-2000
recategorize(df0, 'PAD020', {3:2})
recategorize(df0, 'PAD200', {3:2})
recategorize(df0, 'PAD320', {3:2})
#2001-2002
recategorize(df1, 'PAD020', {3:2})
recategorize(df1, 'PAD200', {3:2})
recategorize(df1, 'PAD320', {3:2})
#2003-2004
recategorize(df2, 'PAD020', {3:2})
recategorize(df2, 'PAD200', {3:2})
recategorize(df2, 'PAD320', {3:2})
#2005-2006
recategorize(df3, 'PAD020', {3:2})
recategorize(df3, 'PAD200', {3:2})
recategorize(df3, 'PAD320', {3:2})

## Rename columns 2007 - 2018

In [13]:
#Col names
col_names = var_names1

In [14]:
#PAD020 to PAQ635 - Walked or bicycled
#PAD200 to PAQ650 - Vigorous activity
#PAD320 to PAQ665 - Moderate activity
#1999 - 2006
df0.columns = col_names
df1.columns = col_names
df2.columns = col_names
df3.columns = col_names

## Append years 1999 - 2018

In [15]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016","2017-2018"]

In [16]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [17]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [18]:
result_1999_2018 = pd.concat(frames, keys = years)

In [19]:
result_1999_2018_cleaned = result_1999_2018.copy()

## Count values for each column

In [20]:
len(col_names)

4

In [21]:
#PAQ635 - Walked or bicycled 
count_vals(result_1999_2018, col_names[1])

PAQ635
1.0    20993
2.0    49715
7.0       14
9.0        7
Name: SEQN, dtype: int64

 NaN:  20087

In [22]:
#PAQ650 - Vigorous activity
count_vals(result_1999_2018, col_names[2])

PAQ650
1.0    23036
2.0    47668
7.0       12
9.0       11
Name: SEQN, dtype: int64

 NaN:  20089

In [23]:
#PAQ665 - Moderate activity
count_vals(result_1999_2018, col_names[3])

PAQ665
1.0    31625
2.0    39065
7.0       14
9.0       17
Name: SEQN, dtype: int64

 NaN:  20095

In [24]:
result_1999_2018

                    SEQN  PAQ635  PAQ650  PAQ665       Year
1999-2000 0          1.0     NaN     NaN     NaN  1999-2000
          1          2.0     2.0     2.0     2.0  1999-2000
          2          3.0     NaN     NaN     NaN  1999-2000
          3          5.0     2.0     1.0     1.0  1999-2000
          4          6.0     1.0     1.0     1.0  1999-2000
...                  ...     ...     ...     ...        ...
2017-2018 5851  102950.0     2.0     2.0     2.0  2017-2018
          5852  102952.0     2.0     2.0     1.0  2017-2018
          5853  102953.0     2.0     2.0     2.0  2017-2018
          5854  102954.0     2.0     2.0     1.0  2017-2018
          5855  102956.0     2.0     2.0     2.0  2017-2018

[90816 rows x 5 columns]

In [25]:
len(result_1999_2018)

90816

## Remove missing values:

In [26]:
drop_rows(result_1999_2018_cleaned, col_names[1], [np.nan, 7, 9])
drop_rows(result_1999_2018_cleaned, col_names[2], [np.nan, 7, 9])
drop_rows(result_1999_2018_cleaned, col_names[3], [np.nan, 7, 9])

## See if missing values have been correctly removed:

In [27]:
count_vals(result_1999_2018_cleaned, col_names[1])

PAQ635
1.0    20979
2.0    49700
Name: SEQN, dtype: int64

 NaN:  0

In [28]:
count_vals(result_1999_2018_cleaned, col_names[2])

PAQ650
1.0    23025
2.0    47654
Name: SEQN, dtype: int64

 NaN:  0

In [29]:
count_vals(result_1999_2018_cleaned, col_names[3])

PAQ665
1.0    31617
2.0    39062
Name: SEQN, dtype: int64

 NaN:  0

In [30]:
before = len(result_1999_2018)
before

90816

In [31]:
after = len(result_1999_2018_cleaned)
after

70679

In [32]:
(before-after)/after

0.28490782269132275

## MongoDB Insertion

In [33]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient('localhost', 27017)

In [34]:
#Connect to existing datbase
db = client.NHANES

In [35]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [36]:
db.list_collection_names()

['hiq',
 'alq',
 'drxtot',
 'bpq',
 'bmx',
 'huq',
 'paq',
 'bpx',
 'mcq_h',
 'rdq',
 'demo_p',
 'mcq_a',
 'mcq_b',
 'demo',
 'diq',
 'mcq_c']

In [37]:
#Create collection in database
paq = db.paq

In [38]:
#If collections exist, then drop
if 'paq' in db.list_collection_names():
    paq.drop()
    db.list_collection_names()
else:
    print("Collection doesn't exist yet")

## Create new collection to input into database

In [39]:
result_1999_2018_cleaned[:3]

             SEQN  PAQ635  PAQ650  PAQ665       Year
1999-2000 1   2.0     2.0     2.0     2.0  1999-2000
          3   5.0     2.0     1.0     1.0  1999-2000
          4   6.0     1.0     1.0     1.0  1999-2000

In [40]:
#Set SEQN as _id (Primary Key)
result_1999_2018_cleaned.rename(columns={'SEQN':'_id'}, inplace=True)

In [41]:
#Dataframe to dictionary
paq_dict = result_1999_2018_cleaned.to_dict(orient='records')

In [42]:
paq_dict[0]

{'_id': 2.0, 'PAQ635': 2.0, 'PAQ650': 2.0, 'PAQ665': 2.0, 'Year': '1999-2000'}

In [43]:
#Insert collection 
paq.insert_many(paq_dict)

In [44]:
#View collections
db.list_collection_names()

['hiq',
 'alq',
 'drxtot',
 'bpq',
 'bmx',
 'huq',
 'bpx',
 'mcq_h',
 'rdq',
 'paq',
 'demo_p',
 'mcq_a',
 'mcq_b',
 'demo',
 'diq',
 'mcq_c']

In [45]:
# for d in paq.find():
#     print(d)