In [580]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [581]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = '../NHANES-Downloader/data/csv_data/'

In [582]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')
files10 = glob.glob(file_beg+'2017-2018/*/*.csv')

In [583]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9, files10]

In [584]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [585]:
whq_indx = [101, 118, 132, 128, 128, 134, 139, 168, 134, 190]

In [586]:
dfs = defaultdict(int)
for i in range(0,len(whq_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][whq_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [587]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [588]:
#1999-2000
var_names = ["SEQN", "WHD010", "WHD020", "WHQ030", "WHD040"]

#2001-2018
var_names1 = ["SEQN", "WHD010", "WHD020", "WHQ030", "WHQ040"]

In [589]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Make a copy of the dataframes

In [590]:
#1999-2018
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names1].copy() #2001-2002
df2 = dfs[2][var_names1].copy() #2003-2004
df3 = dfs[3][var_names1].copy() #2005-2006
df4 = dfs[4][var_names1].copy() #2007-2008
df5 = dfs[5][var_names1].copy() #2009-2010
df6 = dfs[6][var_names1].copy() #2011-2012
df7 = dfs[7][var_names1].copy() #2013-2014
df8 = dfs[8][var_names1].copy() #2015-2016
df9 = dfs[9][var_names1].copy() #2016-2018

## Recategorize values

In [591]:
#1999-2000
recategorize(df0, 'WHD020', {77777:7777, 99999:9999})

## Rename columns 1999-2000

In [592]:
#Col names
col_names = var_names1

In [593]:
#1999-2000
df0.columns = col_names

## Append years 1999 - 2018

In [594]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016","2017-2018"]

In [595]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [596]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [597]:
result_1999_2018 = pd.concat(frames, keys = years)

In [598]:
result_1999_2018_cleaned = result_1999_2018.copy()

## Count values for each column

In [599]:
result_1999_2018_cleaned[:0]

Empty DataFrame
Columns: [SEQN, WHD010, WHD020, WHQ030, WHQ040, Year]
Index: []

In [600]:
len(col_names)

5

In [601]:
#WHD010 - Current self-reported height (inches)
count_vals(result_1999_2018_cleaned, col_names[1])

WHD010
39.0         1
40.0         1
41.0        12
42.0         2
43.0         2
47.0         1
48.0        12
49.0        10
50.0         9
51.0        12
52.0         7
53.0        53
54.0        27
55.0        46
56.0       101
57.0       184
58.0       316
59.0      1082
60.0      2287
61.0      2566
62.0      4415
63.0      4400
64.0      5178
65.0      4938
66.0      5633
67.0      5057
68.0      4314
69.0      3911
70.0      3674
71.0      3353
72.0      2794
73.0      1682
74.0      1275
75.0       713
76.0       383
77.0       156
78.0        70
79.0        32
80.0        17
81.0        11
82.0         4
83.0         4
84.0         2
7777.0      15
9999.0    1078
Name: SEQN, dtype: int64

 NaN:  396

In [602]:
#WHD020 - Current self-reported weight (pounds)
count_vals(result_1999_2018_cleaned, col_names[2])

WHD020
50.0        1
55.0        1
60.0        1
66.0        1
70.0        2
         ...
493.0       1
600.0       3
670.0       1
7777.0     72
9999.0    776
Name: SEQN, Length: 344, dtype: int64

 NaN:  302

In [603]:
#WHQ030 - How do you consider your weight
count_vals(result_1999_2018_cleaned, col_names[3])

WHQ030
1.0    29432
2.0     3686
3.0    26895
7.0       25
9.0      146
Name: SEQN, dtype: int64

 NaN:  52

In [604]:
#WHQ040 - Like to weigh more, less or same
count_vals(result_1999_2018_cleaned, col_names[4])

WHQ040
1.0     5501
2.0    34563
3.0    20031
7.0       21
9.0       68
Name: SEQN, dtype: int64

 NaN:  52

In [605]:
result_1999_2018[:1]

             SEQN  WHD010  WHD020  WHQ030  WHQ040       Year
1999-2000 0   2.0    69.0   168.0     3.0     3.0  1999-2000

In [606]:
len(result_1999_2018)

60236

## Remove missing values:

In [607]:
drop_rows(result_1999_2018_cleaned, col_names[1], [np.nan, 7777, 9999])
drop_rows(result_1999_2018_cleaned, col_names[2], [np.nan, 7777, 9999])
drop_rows(result_1999_2018_cleaned, col_names[3], [np.nan, 7, 9])
drop_rows(result_1999_2018_cleaned, col_names[4], [np.nan, 7, 9])

## See if missing values have been correctly removed:

In [608]:
count_vals(result_1999_2018_cleaned, col_names[1])

WHD010
39.0       1
40.0       1
41.0      11
42.0       2
43.0       2
47.0       1
48.0      11
49.0      10
50.0       8
51.0      12
52.0       7
53.0      52
54.0      27
55.0      46
56.0      97
57.0     181
58.0     307
59.0    1067
60.0    2243
61.0    2507
62.0    4329
63.0    4300
64.0    5102
65.0    4850
66.0    5545
67.0    4990
68.0    4272
69.0    3874
70.0    3649
71.0    3329
72.0    2769
73.0    1673
74.0    1272
75.0     707
76.0     380
77.0     156
78.0      70
79.0      32
80.0      17
81.0      11
82.0       4
83.0       4
84.0       2
Name: SEQN, dtype: int64

 NaN:  0

In [609]:
count_vals(result_1999_2018_cleaned, col_names[2])

WHD020
50.0     1
60.0     1
70.0     2
72.0     1
75.0     2
        ..
470.0    1
484.0    1
493.0    1
600.0    3
670.0    1
Name: SEQN, Length: 340, dtype: int64

 NaN:  0

In [610]:
count_vals(result_1999_2018_cleaned, col_names[3])

WHQ030
1.0    28503
2.0     3553
3.0    25874
Name: SEQN, dtype: int64

 NaN:  0

In [611]:
count_vals(result_1999_2018_cleaned, col_names[4])

WHQ040
1.0     5349
2.0    33428
3.0    19153
Name: SEQN, dtype: int64

 NaN:  0

In [612]:
before = len(result_1999_2018)
before

60236

In [613]:
after = len(result_1999_2018_cleaned)
after

57930

In [614]:
(before-after)/after

0.03980666321422406

## MongoDB Insertion

In [615]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient('localhost', 27017)

In [616]:
#Connect to existing datbase
db = client.NHANES

In [617]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [618]:
db.list_collection_names()

['hiq',
 'alq',
 'whq',
 'drxtot',
 'smqfam',
 'smq',
 'bpq',
 'bmx',
 'huq',
 'bpx',
 'mcq_h',
 'tchol',
 'paq',
 'demo_p',
 'mcq_a',
 'mcq_b',
 'rdq',
 'demo',
 'diq',
 'mcq_c']

In [619]:
#Create collection in database
whq = db.whq

In [620]:
#If collections exist, then drop
if 'whq' in db.list_collection_names():
    whq.drop()
    db.list_collection_names()
else:
    print("Collections doesn't exist yet")

## Create new collection to input into database

In [621]:
result_1999_2018_cleaned[:3]

             SEQN  WHD010  WHD020  WHQ030  WHQ040       Year
1999-2000 0   2.0    69.0   168.0     3.0     3.0  1999-2000
          1   5.0    71.0   206.0     1.0     2.0  1999-2000
          2   6.0    64.0   132.0     3.0     2.0  1999-2000

In [622]:
#Set SEQN as _id (Primary Key)
result_1999_2018_cleaned.rename(columns={'SEQN':'_id'}, inplace=True)

In [623]:
#Dataframe to dictionary
whq_dict = result_1999_2018_cleaned.to_dict(orient='records')

In [624]:
whq_dict[0]

{'_id': 2.0,
 'WHD010': 69.0,
 'WHD020': 168.0,
 'WHQ030': 3.0,
 'WHQ040': 3.0,
 'Year': '1999-2000'}

In [625]:
#Insert collection 
whq.insert_many(whq_dict)

In [626]:
#View collections
db.list_collection_names()

['hiq',
 'alq',
 'drxtot',
 'smqfam',
 'smq',
 'bpq',
 'bmx',
 'whq',
 'huq',
 'bpx',
 'mcq_h',
 'tchol',
 'paq',
 'demo_p',
 'mcq_a',
 'mcq_b',
 'rdq',
 'demo',
 'diq',
 'mcq_c']

In [627]:
# for w in whq.find():
#     print(w)